
/* index.html */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.landingContent img {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 25%;
    border-radius: 75%;
}

/* navbar styling */
nav {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

.logoNav img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.topnav {
    overflow: hidden;
    background-color: #9D1821;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 35px 100px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
}   

.topnav a:hover {
    background-color: white;
    color: #9D1821;
  }
  
  .topnav a.active {
    background-color: beige;
    color: #9D1821;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #9D1821;
  }

  .topnav .icon {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .topnav {
        display: flex;
        flex-direction: column;
    }

  }


  /* footer styling */ 
  footer{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: #9D1821;
    text-align: center;
    height: 100px;
    font-family: 'Yeseva One', cursive;
    width: 100%;
  }

  .socialMedia{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

.socialMedia img {
    width: 50px;
    padding: 5px;
}

.contactFaq a{
    color: #9D1821;
}

/* home.html */
.homeMain{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeSectionOne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.homeSectionOne p{
    background-color: #9D1821;
    color: white;
    font-size: 25px;
    padding: 10px;
    width: 500px;
    height: 500px;
}

.homeSectionOne img{
    margin: 2%;
    width: 50%;
}

.homeSectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.homeSectionTwo img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    height: 550px;
    padding: 10px;
    border-radius: 50%;
}

.sectionTwo{
    font-family: 'Yeseva One', cursive;
    color: #9D1821;
    margin: 2%;
}

.menuButton {
    background-color: #9D1821;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    margin: 2%;
    border-radius: 5px;
  }
   
  .menuButton:hover {
    background-color: beige;
  }
  
  .menuButton:hover a {
    color: #9D1821;
  }
  .menuButton a{
    color: white;
    text-decoration: none;
  }

.homeSectionThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2%;
}
.homeSectionThree img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 550px;
    padding: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.homeSectionThree img:hover {
    opacity: 0.3;
  }

.aboutUs {
    position: relative;
    width: 50%;
  }

  .ourGallery {
    position: relative;
    width: 50%;
  }
  .ourHistory {
    position: relative;
    width: 50%;
  }
  
  .homeSectionThree button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #9D1821;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
  }
  
  .homeSectionThree button:hover {
    background-color: beige;
  }

  .homeSectionThree button:hover a {
    color: #9D1821;
  }
  .homeSectionThree a{
    color: white;
    text-decoration: none;
  }
  /* our history styling*/

  .header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: beige;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background:rgb(221, 193, 193);
  }
  
  .progress-bar {
    height: 8px;
    background:#9D1821;
    width: 0%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .history body{
    font-family:'Yeseva One', cursive;
    background-color: white;
  }
  
  
  .history h1, h2, h3, h4{
      font-weight:bold;
      text-align: center;
      color:#9D1821;
  }
  
  .history h1{
    font-size: 40px; 
    margin-top: 10px;
  }
  
  .history h2{
    font-size: 22px;
  }
  
  .history h3{
    font-size:18px; 
    font-style: italic;
  }
  
  .history h4{
    font-size: 16px;
  }
  
  .history p{
    font-family:'Alegreya Sans', sans-serif !important;
    color: #9D1821;
    font-size:18px;
  }
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
  }
  
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color:rgb(161, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 40px;
    top: 10%;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: beige;
    border: 4px solid#9D1821;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    float: 0;
  }
  
  .right {
    left: 50%;
  }
    
  .container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(95, 0, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(95, 0, 0);
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(95, 0, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(95, 0, 0) transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .top{
    padding: 5px 0px;
    background-color:rgb(211, 151, 151);
    position: relative;
    text-align: justify;
  }
  
  .content{
    /*padding: 10px 40px;*/
    padding: 0px 40px;
    background-color:beige;
    position: relative;
    text-align: justify;
  }
  
  .border{
    border:10px solid rgb(95, 0, 0); 
    border-radius: 6px;
  }
  
  .expandMoreContent{
    /*height:155px;*/
    height: 0px;
    overflow:hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
  }
  
  .expandMoreContent.expand-active{
    height: auto;
    transition: height 0.5s ease-in-out;
  }
    
  .expandMoreHolder{
    padding: 5px 0px;
    text-align: center;
    color:rgb(95, 0, 0);
    background-color: beige;
  }
  
  .expandMoreHolder:hover{
    padding: 15px 0px;
    background-color:rgb(161, 0, 0);
    color: beige;
    border-radius: 0px;
  }
  
  .btn-expand-more{
    cursor:pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display:inline-block;
  }
  
  
  @media only screen and (max-width:700px){
  .timeline::after {
    left: 31px;
  }
  
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .left::after, .right::after {
    left: 15px;
  }
  
  
  .right {
    left: 0%;
      }
  }